# Backend API base
API_BASE_URL=http://127.0.0.1:5000

# NextAuth + OIDC (Keycloak)
AUTH_SECRET=<genera_un_secreto_largo>
AUTH_TRUST_HOST=true

KEYCLOAK_ISSUER=http://localhost:8080/realms/bootcamp
KEYCLOAK_CLIENT_ID=bootcamp-web
KEYCLOAK_CLIENT_SECRET=<client_secret_si_es_confidential_client>